body{
    background-color: bisque;
}

#codigo {
    background-color:  rgb(248, 213, 213);
}

#linguagem {
    background-color: rgb(192, 212, 239);
}
#produtos {
    background-color: rgb(248, 135, 135);
}