table{
    border: 1px solid black; border-collapse: collapse;
}
td, th{
    border: 1px solid black;
    text-align: center;
}
th{
    background-color: green;
}
#vermelho{
    color: red;
}

#verde{
    background-color: rgb(66, 245, 66);
}